@import "normalize";
@import "layout";


* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	/* font-family: ''; */
	font-size: 1.8rem;
	line-height: 1.6;
	color: #333;
	min-height: 100%;

}

.ba-container {
	font-size: 0;
	max-width: 1200px;
	// text-align: center;
	margin: 0 5%;
	// outline: 2px solid red;
	padding-bottom: 20px;
}

.h1 {
	text-align: left;
	font-size: 36px;
}
